@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Work+Sans:wght@300&display=swap');

.Logo {
    width: 268px;
    height: 33px;
}

/* Header__section  */

header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    top: 0;
    background-color: #ffffff;
    cursor: pointer;
    position: fixed;
}

.menu {
    list-style: none;
    display: flex;
}

.menu__item {
    margin-right: 10px;
    color: #ababab;
    font-family: Roboto, Arial, sans-serif;
    cursor: pointer;
}
.drop__menu {
        display:none;
        min-width: 220px; 
        box-shadow: 0 5px 10px 0 #d3cfc9;
        margin-left: -100px;
        padding-top: 20px; 
        height: 220px;
        position: fixed;
        background-color: white;

}
.menu__item:hover, .drop__menu:hover{
    color: #00b39b;
}
.drop__menu__item:hover{
    background-color: #f6f8f8;
}

/* Section1 */

.section1{
    text-align: center;
    margin-top: 100px;
}
.Texte{
    display: flex;
    width: 1000px;
    margin: 0% auto;
    gap: 20px;
    color: #747474;
}

/* Services */

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 1015px;
    margin: 0 auto;
}

.services>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 345px;
    padding: 32px 32px 0 32px;
    color: white;
    border-radius: 10px;
}

.container1 {
    background-color: #00ccb1;
}

.container2 {
    background-color: #3d83df;
}

.container3 {
    background-color: #1b2734;
}



/* Background__section */


.Background{
    background-color: #dff9f7;
    background-image: url("https://www.docplanner.com/img/logo.png");
    background-repeat: no-repeat;
    height: 600px;
    background-position-y: 300px;
    background-position-x: 100px;
}
.Background>div{
    width: 1015px;
    margin: 10px auto;
    display: flex;
}

.Photos{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
figure img{
    width: 308px; height: 277px;
}
@media only screen and (max-width :600px) {
    .Photos{
        display: flex;
        flex-direction: column;
    }
}

/* Footer */

.main__footer {
    display: block;
    border-top: 1px solid #eef2f2;
    text-align: center;
    padding: 1em 0;
}
